body{
  font-family: 'Lato';
}

.voting{
  height: 30%;
  box-shadow: 0px 0px 10px black;
}

.good{
  color: white; 
  background: #034c3c;
}

.bad{
  color: white; 
  background: #93032e;
}

.mybtn{
  border:none;
  width:100%;
}

.good:focus{
    background: #034c3c; 
}

.bad:focus{
    background: #93032e;
}
