<html>
    <head>
	{# include stylesheets #}
        {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'listener/materialize/css/materialize.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<style>
		body{
		font-family: 'Lato';
		}
	</style>
    </head>
    <body>
	<header>
		<nav class="top-nav blue-grey">
		<div class="container">
		<div class="nav-wrapper">
		<a class="page-title">{{ event.event_name }}</a>
		</div>
		</div>
		</nav>
	</header>
	<main>
		<div class="container">
		<div class="row">
		<div class="s12 m9 l10">
		<a href="{% url 'listener:events' %}">BACK</a>
		</div>
		</div>
		</div>
	</main>
    </body>
</html>

