{# INCLUDING BLUEPRINT #}
{% extends 'listener/base.html' %}

{# TITLE #}
{% block title %}Feedback App{% endblock %}

{# CONTENT #}
{% block content %}
<div class="container">
	<div class="row">
		<div class="s12">
			<h5 class="center-align ">All Events</h5>
			<hr>
			<div class="collection">
				{% for event in events %}
				<a href="{% url 'listener:detail' event.id %}" class="collection-item">{{event.event_name}} <span class="hashtag right">#{{event.event_htag}}</span></a>
				{% endfor %}
			</div>
		</div>
	</div>
	<form action="votings" method="post">
		{% csrf_token %}
		<div class="row">
			<div class="col s12 center">
				<button type="submit" class="mybtn bad valign-wrapper"> 
					<i class="material-icons valign center-block">report_problem</i>
					RESET VOTINGS
					<i class="material-icons valign center-block">report_problem</i>
				</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
