{# TODO: Rewrite REST calls w/ redirect to jQuery calls #}
<html>
    <head>
	{# include stylesheets #}
        {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'listener/materialize/css/materialize.css' %}" />
	<link rel="stylesheet" href="{% static 'listener/css/stylesheet.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{# include fancy JS #}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'listener/materialize/js/materialize.js' %}" async></script>
    </head>
    <body>
	<header>
		<nav class="top-nav blue-grey">
		<div class="container">
		<div class="nav-wrapper">
		<a class="page-title">FeedbackAPP</a>
		</div>
		</div>
		</nav>
	</header>
	<main>
		<div class="container">
		<div class="row">
		<div class="s12">
			<h2 class="header">Events</h2>
			<div class="collection">
			{% for event in events %}
			<a href="{% url 'listener:detail' event.id %}" class="collection-item">{{event.event_name}} <span class="hashtag right">#{{event.event_htag}}</span></a>
			{% endfor %}
			
			</div>
		</div>
		</div>
		<form action="votings" method="post">
		{% csrf_token %}
		<div class="row">
		<div class="col s12 center">
		<button type="submit" class="mybtn bad valign-wrapper"> 
			<i class="material-icons valign center-block">report_problem</i>
			RESET VOTINGS
			<i class="material-icons valign center-block">report_problem</i>
		</button>
		</div>
		</div>
		</form>
		</div>
	</main>
    </body>
</html>
