<!-- TODO implement login as modal -->
{% extends 'listener/base.html' %}

{% block title %}
LOGIN
{% endblock %}

{% block content %}
<div class="valign-wrapper my-wrapper">
	<div class="container valign">
		<div class="row">
			<div class="card col s6 offset-s3 grey lighten-5">
				<div class="row">
					<div class="col s10 offset-s1">
    						<h5>LOGIN</h5>
    						<form method="post">
        						{% csrf_token %}
        						{{ form.as_p }}
							<button class="btn waves-effect waves-light " type="submit">Login
								<i class="material-icons right">send</i>
							</button>
    						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
